<% layout("/layouts/boilerplate") %>

<div class="filters-wrapper" id="filters">
  <div class="filter" data-category="Trending"><i class="fa-solid fa-fire"></i><p>Trending</p></div>
  <div class="filter" data-category="Farm"><i class="fa-solid fa-tractor"></i><p>Farm</p></div>
  <div class="filter" data-category="Castle"><i class="fa-solid fa-chess-rook"></i><p>Castle</p></div>
  <div class="filter" data-category="Lake"><i class="fa-solid fa-water"></i><p>Lake</p></div>
  <div class="filter" data-category="Mountain"><i class="fa-solid fa-mountain"></i><p>Mountain</p></div>
  <div class="filter" data-category="Beach"><i class="fa-solid fa-umbrella-beach"></i><p>Beach</p></div>
  <div class="filter" data-category="Forest"><i class="fa-solid fa-tree"></i><p>Forest</p></div>
  <div class="filter" data-category="Winter"><i class="fa-solid fa-snowflake"></i><p>Winter</p></div>
  <div class="filter" data-category="City"><i class="fa-solid fa-city"></i><p>City</p></div>
  <div class="filter" data-category="Arctic"><i class="fa-regular fa-snowflake"></i><p>Arctic</p></div>
  <div class="filter" data-category="Pool"><i class="fa-solid fa-person-swimming"></i><p>Pool</p></div>
  <div class="filter" data-category="Cabin"><i class="fa-solid fa-house"></i><p>Cabin</p></div>
  <div class="filter" data-category="Domes"><i class="fa-solid fa-landmark-dome"></i><p>Domes</p></div>
  <div class="tax-toggle">
    <div class="form-check form-switch form-check-reverse">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
      <label class="form-check-label" for="flexSwitchCheckReverse">Total after tax</label>
    </div>
  </div>
</div>

  <!-- <div class="filter-container">
    

    <!-- Filters Wrapper -->
    <!-- <div class="filters-wrapper" id="filters">
      <div class="filter"><i class="fa-solid fa-fire"></i><p>Trending</p></div>
      <div class="filter"><i class="fa-solid fa-tractor"></i><p>Farm</p></div>
      <div class="filter"><i class="fa-solid fa-chess-rook"></i><p>Castle</p></div>
      <div class="filter"><i class="fa-solid fa-water"></i><p>Lake</p></div>
      <div class="filter"><i class="fa-solid fa-mountain"></i><p>Mountain</p></div>
      <div class="filter"><i class="fa-solid fa-umbrella-beach"></i><p>Beach</p></div>
      <div class="filter"><i class="fa-solid fa-tree"></i><p>Forest</p></div>
      <div class="filter"><i class="fa-solid fa-snowflake"></i><p>Winter</p></div>
      <div class="filter"><i class="fa-solid fa-city"></i><p>City</p></div>
      <div class="filter"><i class="fa-regular fa-snowflake"></i><p>Arctic</p></div>
      <div class="filter"><i class="fa-solid fa-person-swimming"></i><p>Pool</p></div>
      <div class="filter"><i class="fa-solid fa-house"></i><p>Cabin</p></div>
      <div class="filter"><i class="fa-solid fa-landmark-dome"></i><p>Domes</p></div> -->


      
    

      
       
      <!-- <div class="tax-toggle" >
           <div class="form-check form-switch form-check-reverse">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
          <label class="form-check-label   for="flexSwitchCheckReverse">Total after tax</label>
        </div> -->
    
<!--        
      </div>


    </div> -->

 
  <!-- </div> --> 

  <div class="row row-cols-lg-3 row-cols-md-2  row-cols-sm-1">
  <% for(let listing of allListings) { %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card" >
    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem"/>
    <div class="card-img-overlay"></div>
    <div class="card-body">
      <p class="card-text">
       <b><%= listing.title %> </b><br>
      &#8377 <%= listing.price.toLocaleString("en-IN") %>/Night
      <i class="tax-info"> &nbsp; +18% GST</i>
      </p>
    </div>
  </div>
  </a>
    <% } %>
 </div> 

 <% if (search) { %>
  <div class="clear-search d-flex justify-content-center mb-4">
    <a href="/listings" class="btn btn-dark rounded-pill">Clear Search</a>
  </div>
<% } %>

<!-- <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% if (allListings.length > 0) { %>
    <% for (let listing of allListings) { %>
      <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem" />
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b><br>
              &#8377 <%= listing.price.toLocaleString("en-IN") %>/Night
              <i class="tax-info"> &nbsp; +18% GST</i>
            </p>
          </div>
        </div>
      </a>
    <% } %>
  <% } else { %>
    <div class="col-12 text-center mt-5">
      <p class="text-muted">No listings found for this category.</p>
    </div>
  <% } %>
</div> -->

  

  <script>

      document.querySelectorAll('.filter').forEach(filter => {
    filter.addEventListener('click', () => {
      const category = filter.getAttribute('data-category');
      window.location.href = `/listings?category=${category}`;
    });
  });



  let taxSwitch = document.getElementById("flexSwitchCheckReverse");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
   for (info of taxInfo) {
    if(info.style.display != "inline") {
        info.style.display = "inline";
    }
    else{
      info.style.display = "none";
    }
    
   }
  });


 </script>  

